body{font-family:Lucida Sans,Lucida Grande,Arial,sans-serif;margin:0;line-height:22px;width:960px;margin:0 auto;}
h1{padding:30px 0 10px;margin-top:0;line-height:30px;}
ul{padding:0 0 0 15px;}
a{color:#ae3d26;text-decoration:none;}
a:hover{text-decoration:underline;}
hr{border:none;border-top:1px dotted #000;}


.dark-container.dark-hlayout > .dark-container-wrap > .dark-container-item{
    float: left;
}

.dark-container.dark-vlayout > .dark-container-wrap > .dark-container-item{
    float: left;
    clear: left;
}

.dark-container.layout-align-auto > .dark-container-wrap{

}
.dark-container.layout-align-left > .dark-container-wrap{
    float: left;
}
.dark-container.layout-align-center{
    text-align: center;
}
.dark-container.layout-align-center > .dark-container-wrap{
    display: inline-block;
}
.dark-container.layout-align-right > .dark-container-wrap{
    float: right;
}



.dark-container.dark-vlayout.layout-align-stretch{
    position: relative;
}
.dark-container.dark-vlayout.layout-align-stretch > .dark-container-wrap{
    display: table;
    width: 100%;
}
.dark-container.dark-vlayout.layout-align-stretch > .dark-container-wrap > .dark-container-item{
    display: table-row;
    float: none;
}

.dark-container.dark-hlayout.layout-align-stretch > .dark-container-wrap{
    /* Not work from <= IE 7 */
    display: table;
    height: 100%;
}
.dark-container.dark-hlayout.layout-align-stretch > .dark-container-wrap > .dark-container-item{
    /* Not work from <= IE 7 */
    display: table-cell;
    float: none;
}
