<div class="<%=css.inputWrap%> input-append date-field">
<% if( component.inlineCalendar() ){ %>
    <div class="<%=css.input%>"></div>
<% }else{ %>
    <input type="text" class="<%=css.input%> input-small"/>
    <% if(component.showCalendarOn() != 'input') { %>
    <button class="btn" type="button"><i class="icon-calendar"></i></button>
    <% }else{ %>
    <span class="add-on"><i class="icon-calendar"></i></span>
    <% } %>
<% } %>
</div>