<div class="<%=css.inputWrap%> input-append input-prepend">
    <button class="btn <%=css.leftBtn%>" type="button"><i class="icon icon-minus"></i></button>
    <input type="text" class="<%=css.input%> input-mini"/>
    <button class="btn <%=css.rightBtn%>" type="button"><i class="icon icon-plus"></i></button>
</div>