<div class="btn-group">
    <button class="btn <%=css.item%>">Action</button>
    <button class="btn dropdown-toggle">
        <span class="caret"></span>
    </button>
    <div class="<%=css.dropDown%>"></div>
</div>